@(searchForm:Form[SearchParams])
@import helper._

@main("Restaurant Query") {
<h1> Welcome to Nitro! </h1>

@helper.form( action = routes.Application.search, args = 'id -> "searchForm") { 
@helper.inputText(
	field = searchForm("zipCode"), 
	args = '_label -> "Zip Code", 'placeholder -> "94025" )

@helper.inputText(
	field = searchForm("businessName"),
	args = '_label -> "Business Name", 'placeholder -> "Johnny's Pizza")

@helper.select( searchForm("Category"), options(
	Seq("Hotel", "Restaurant", "Bar", "Coffee Shop")), 
	args = '_label -> "Choose a Business Type"
	)
	<p class="buttons">
		<input type="submit" value="Search">
	</p>
 }

}

